.Participants__hero {
  height: 100%;
  background-color: #1e3658;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
}

.Participants__container{
  padding: 100px 0 100px 0;
}

.Participants__buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}



@media (max-width: 768px) { 
  .Participants_logo {
    width: 300px;
  }
}

@media (max-width: 576px) { 
  .Participants_logo {
    width: 200px;
  }
  .Participants__container{
    padding: 25px 0 50px 0;
  }
}
