.ParticipantDetails__hero {
  width: 100%;
  padding: 0.9rem 0;
  background-color: #457b9d ;
  // background-repeat: repeat;
  margin-bottom: 0.9rem;
  color: #ffffff;
}

.ParticipantDetails__hero-attendant-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ParticipantDetails__buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.text__hero{
  padding-top: 25px;
  padding-bottom: 10px;
}

